
  <bs-modal #setlistEditModal class="song-edit-modal">
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Song Edit</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
              <div class="col-lg-12">
                <form class="form-horizontal" [formGroup]="myForm" novalidate >
                  <div class="form-group container-fluid">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="Name" >
                        <div class="field-error-message" *ngIf="isErrorVisible('Name','required')">Name is required</div>
                        <input type="hidden" formControlName="LastEdit" value="">
                        <input type="hidden" formControlName="CreatedByUserId" value="">
                        <input type="hidden" formControlName="CreatedByUserName" value="">
                        <input type="hidden" formControlName="DateCreated" value="">
                        <input type="hidden" formControlName="Deleted" value="">
                        <input type="hidden" formControlName="Deprecated" value="">
                        <input type="hidden" formControlName="MakePublic" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Location:</label>
                      <div class="col-sm-10"><input type="text" class="form-control" formControlName="GigLocation" value=""></div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label gig-date" >Gig Date:</label>
                      <div class="col-sm-10">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" formControlName="GigDate"  placeholder="Choose a gig date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label gig-date"  >Gig Time:</label>
                      <div class="col-sm-10">
                        <mat-form-field class="example-full-width">
                          <input matInput type="time" placeholder="Gig time" formControlName="GigTime" value="10:00PM">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
      <button class="btn btn-primary"
              (click)="save(myForm.value, myForm.valid)"
              [disabled]="!myForm.valid">Save
      </button>
    </bs-modal-footer>
  </bs-modal>
