<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <form role="form" autocomplete="off" novalidate class="m-t login-form" (keyup.enter)="sendPasswordReset()" [formGroup]="form">
      <h3>Password reset</h3>
      <p>Enter you email address and you will receive an email with password reset instructions.</p>
      <div class="form-group">
        <input type="email" class="form-control" id="email-address" placeholder="Email Address" formControlName="email" required="">
        <div class="field-error-message" *ngIf="isErrorVisible('email','required')">Email is required</div>
      </div>
      <button type="button"
              (click)="sendPasswordReset()"
              class="btn btn-primary block full-width m-b"
              [disabled]="!form.valid">
        Send Password Reset</button>
    </form>
  </div>
</div>
