<bs-modal #songEditModal class="song-edit-modal">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Song Edit</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <form class="form-horizontal" [formGroup]="myForm" novalidate >
            <div class="form-group container-fluid">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="Name" >
                  <div class="field-error-message" *ngIf="isErrorVisible('Name','required')">Name is required</div>
                  <input type="hidden" formControlName="SongLocation" value="">
                  <input type="hidden" formControlName="CreatedByUserId" value="">
                  <input type="hidden" formControlName="Blob" value="">
                  <input type="hidden" formControlName="DocumentLocation" value="">
                  <input type="hidden" formControlName="SongId" value="">
                  <input type="hidden" formControlName="SongType" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" >Artist:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="ArtistName" value="">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Key:</label>
                <div class="col-sm-10"><input type="text" class="form-control" formControlName="Key" value=""></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Genre:</label>
                <div class="col-sm-10"><input type="text" class="form-control" formControlName="GenreName" value=""></div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Length:</label>
                <div class="col-sm-10 song-length flex">
                  <input type="number" class="form-control flex-twenty song-length-min" formControlName="LengthMin" value="">
                  <span class="song-length-colon flex-five"> : </span>
                  <input type="number" class="form-control flex-twenty song-length-sec" formControlName="LengthSec" value="">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Tempo:</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control song-tempo" formControlName="Tempo" value="">
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Lyrics:</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              rows="20"
                              id="Lyrics"
                              formControlName="Lyrics"
                    ></textarea>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Notes:</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              rows="5"
                              id="notes"
                              formControlName="Notes"
                    ></textarea>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-2 control-label" >Other:</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              rows="5"
                              id="other"
                              formControlName="Other"
                    ></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    <button class="btn btn-primary"
            (click)="save(myForm.value, myForm.valid)"
            [disabled]="!myForm.valid">Save</button>

  </bs-modal-footer>
</bs-modal>
