<div id="change-password-wrapper">
    <bs-modal #changePasswordModal class="change-password-modal">
      <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Change Password</h4>
      </bs-modal-header>
      <bs-modal-body>
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
            <form autocomplete="off" novalidate class="m-t" role="form" [formGroup]="myForm">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="currentPassword">
                <div class="field-error-message" *ngIf="isErrorVisible('password','required')">Current Password is required</div>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="newPassword" formControlName="newPassword">
                <div class="field-error-message" *ngIf="isErrorVisible('confirm','required')">New password is required</div>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword">
                <div class="field-error-message" *ngIf="isErrorVisible('confirm','required')">Confirm password is required</div>
                <div class="field-error-message" [hidden]="this.myForm.controls['confirmPassword'].pristine || isPasswordMatch()">Passwords do not match.</div>
              </div>


              <div class="form-group">
                <div class="field-error-message" [hidden]="!isError">{{errorMessage}}</div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </bs-modal-body>
      <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-primary"
                (click)="save(myForm.value, myForm.valid)"
                [disabled]="!myForm.valid">Save
        </button>
      </bs-modal-footer>
    </bs-modal>
</div>